################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TA.NexDome.EraseSettings/TA.NexDome.EraseSettings/Debug
